{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-3 col-sm-12 col-xs-12 mx-auto d-block">
                <img src="/static/images/generals-quarters.png" class="img-fluid" alt="....." />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">General's Room</h1>
                <p>
                    We give you the best experience that you worth it ;)
                    We give you the best experience that you worth it ;)
                    We give you the best experience that you worth it ;)
                    We give you the best experience that you worth it ;)
                    We give you the best experience that you worth it ;)
                    We give you the best experience that you worth it ;)
                    We give you the best experience that you worth it ;)
                    We give you the best experience that you worth it ;)
                    We give you the best experience that you worth it ;)
                    We give you the best experience that you worth it ;)
                    We give you the best experience that you worth it ;)
                    We give you the best experience that you worth it ;)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="/Reserve" class="btn btn-success">Make Reservation Now</a>
            </div>
        </div>
    </div>
{{end}}