{{template "base" .}}

{{define "content"}}
    <div class="row">
        <div class="col">
            <h1>Make Reservation</h1>
            <form action="/Reserve" method="post" class="needs-validation" novalidate>
                <input type="text" name="csrf_token" hidden value={{.CSFRToken}} />
                <div class="form-group mt-5">
                    <label for="first_name">FirstName : </label>
                    {{with .Form.Errors.Get "first_name"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="text" name="first_name" id="first_name" class="form-control"  autocomplete="off" />
                </div>
                <div class="form-group mt-5">
                    <label for="last_name">LastName : </label>
                    {{with .Form.Errors.Get "last_name"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="text" name="last_name" id="last_name" class="form-control"  autocomplete="off" />
                </div>
                <div class="form-group mt-5">
                    <label for="email">E-mail : </label>
                    {{with .Form.Errors.Get "email"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="email" name="email" id="email" class="form-control"  autocomplete="off" />
                </div>
                <div class="form-group mt-5">
                    <label for="phone">PhoneNumber : </label>
                    {{with .Form.Errors.Get "phone"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="text" name="phone" id="phone" class="form-control"  autocomplete="off" />
                </div>
                <hr />
                <input type="submit" class="btn btn-primary" class="form-control" value="Make Reservation"/>
            </form>
        </div>
    </div>
{{end}}